
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.tc {text-align: center;}

img {
	width:100%;
}



.column {
	padding: 45px;
}



.profile {
	padding: 50px;
	.tc;
}


.container {
	max-width: 1400px;
}

.box {
	background-color: red;
	width: 200px;
	height: 200px;

}